@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&display=swap');

:root{
    --rosafundo: #FCD8D4;
    --rosaclaro: #FDF6F0; /*fundo*/
    --salmao: #F5C6AA;
    --escuro: #AC7D88;

}
*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    background: var(--rosaclaro);
}

body, button, input, select, textarea {
    font-family: 'Inria Sans', sans-serif;
}
{
    font-size: 44px;
}
{
    font-size: 24px;
}
/*margem e gordura da fonte*/

/*margem e gordura da fonte*/
/*h1,h2 {
    font-size: 44px;
    margin: 0;
    font-weight: 400;
}*/
h2 {
    font-size: 44px;
    margin: 0;
    font-weight: 400;
}

h1 {
    font-size: 44px;
    margin: 0;
    font-weight: 400;
    color: var(--escuro);
}
p{ 
    font-size: 20px;

}
button{
    background-color: var(--salmao);
    border: 0;
    border-radius: 16px;
    /*aumenta botao e deixa txto centro*/
    padding: 10px 35px;
    top:;
    font-size: 25px;
    display: flex;    
    align-items: center;


}

header{
    background: ;
    height: calc(76vh - 65px);
    display: flex;
    align-items: ;
}

header .container{
    width: 50%;
    /* fixa o tamanha pre determinado*/
    height: fit-content;
    padding:  100px;

}

header .container img{
    display: none;
}

header .container h1 {
    color:var(--bege)
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav ul a{
    font-size: 20px;
    /*color: var (--bege)*/
    text-decoration: none;
    /*separa as palavras */
    margin: 0 35px;
}
nav{
    display: flex;
    align-items: center;
    /*espaços entre */
    justify-content: space-between;
    height: 45px;
    padding: 0 95px;
    position: sticky;
    top: 0;
        
}

nav img{
    height: 50px;
}

.png img{
    position: absolute;
    left: 112px;
    height: 100px;
    padding: 0 1px;
    margin: 50px;

}

nav ul a svg {
    display: none;
}

/*section {
    background: #FDF6F0;
    height: 1000px;
}*/

.about-me{
    display: flex;
    padding: 100px;
}

.about-me .container{
    width: 50%;
    padding-right: 100px;
}

.about-me .img-container {
    width: 50%;
    text-align: center;
    position: relative;
}

.about-me .img-container img{
    width: 50%;
    height: 100%;
}

.about-me .img-container .line {
    width: calc(50% + 50px);
    height: calc(100% + 45px);
    border: 1px solid var(--escuro);
    position: absolute;
    top:  -25px;
    left: 158px;
}

.about-me .img-container .line.salmao{
    transform: rotate(-3.3deg);
    color: var(--salmao);
}

.container .h2 {
    font-size: 44px;
    font-weight: 400;
    color: var(--escuro);

}

.dois{
    text-align: left;
    left: -280px;
    position: absolute;
}

.dois .serv {
    left: 100px;
    position: absolute;
}

.servicos {
    height: fit-content;
    margin: 150px;
}

.serv1 {
    box-sizing: border-box;
    position: absolute;
    width: 298px;
    height: 308px;
    left: 360px;
    top: 150px;
    background: #F5C6AA;
    border: 1px solid #F5C6AA;
    border-radius: 24px;
}

.serv2 {
    box-sizing: border-box;
    position: absolute;
    width: 298px;
    height: 308px;
    left: -60px;
    top: 150px;
    background: #F5C6AA;
    border: 1px solid #F5C6AA;
    border-radius: 24px;
}

.serv3 {
    box-sizing: border-box;
    position: absolute;
    width: 298px;
    height: 308px;
    left: -480px;
    top: 150px;
    background: #F5C6AA;
    border: 1px solid #F5C6AA;
    border-radius: 24px;
}

.botoes {
    height: fit-content;
    margin: 150px;
}

.botoes .iconmonitor{
    position: absolute;
    width: 60px;
    height: 308px;
    left:-350px;
    top: 190px;
}

.botoes .iconfile {
    position: absolute;
    width: 298px;
    height: 308px;
    left: 70px;
    top: 190px;
}

.botoes .iconglobe{
    position: absolute;
    width: 60px;
    height: 308px;
    left: 490px;
    top: 190px;

}

.serv .h1 {
    font-size: 44px;
    margin: 55px;
    font-weight: 400;
    color: var(--escuro);

}

.tituloserv {
    color: var(--escuro);
    position: absolute;
    font-size: 80px;
    top: 200px;
    left: -365px;
    margin: 0px;
}


.tituloserv .aplicacao{
    position: absolute;
    width: 220px;
    height: 60px;
    left: 350px;
    top: 1px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 22px;
    text-align: center;
    color: #AC7D88;
}

.tituloserv .site{
    color: var(--escuro);
    position: absolute;
    font-size: 80px;
    top: 1px;
    left: 805px;
    margin: 0px;
    font-weight: 300px;
}

.info {
    color: #000000;
    position: absolute;
    width: 234px;
    height: 36px;
    left: -80px;
    top: px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center; 
}

.infos .info1 p {
    color: #000000;
    position: absolute;
    width: 234px;
    height: 36px;
    left: -80px;
    top: px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

}

.infos .info2 p {
    position: absolute;
    width: 232px;
    height: 54px;
    left: 345px;
    top: 60px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #000000;
}

.infos .info3 p {
    position: absolute;
    width: 278px;
    height: 42px;
    left: 740px;
    top: px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #000000;
}

.tres {
    position: absolute;
    width: 133px;
    height: 42px;
    left: 350px;
    top: 350px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #AC7D88;
}

.portfolio {
    position: absolute;
    width: 298px;
    height: 308px;
    left: -480px;
    top: 100px;
    background: linear-gradient(90deg, rgba(255, 234, 216, 0.69) 0%, #F8E2CF 32.43%);
    box-shadow: inset 0px 0px 30px rgba(54, 53, 54, 0.1);
    border-radius: 19px;
}

.portfolio .port2 {
    position: absolute;
    width: 298px;
    height: 308px;
    left: 420px;
    top: 0px;
    background: linear-gradient(90deg, rgba(255, 234, 216, 0.69) 0%, #F8E2CF 32.43%);
    box-shadow: inset 0px 0px 30px rgba(54, 53, 54, 0.1);
    border-radius: 19px;
}

.portfolio .port3 {
    position: absolute;
    width: 298px;
    height: 308px;
    left: 841px;
    top: 0px;
    background: linear-gradient(90deg, rgba(255, 234, 216, 0.69) 0%, #F8E2CF 32.43%);
    box-shadow: inset 0px 0px 30px rgba(54, 53, 54, 0.1);
    border-radius: 19px;
}

.quatro {
    position: absolute;
    width: 136px;
    height: 42px;
    left: px;
    top: 490px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #AC7D88;
}

.portimg {
    position: absolute;
    width: 550px;
    top: -388px;
    left: 360px;
}

.portimg1{
    position: absolute;
    width: 550px;
    top: -388px;
    left: -480px;
}

.portimg2{
    position: absolute;
    width: 550px;
    top: -388px;
    left: -60px;
}

.linktree .informacao1{
    position: absolute;
    width: 220px;
    height: 88px;
    left: -458px;
    top: -200px;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
}

.linktree .informacao2 p {
    position: absolute;
    width: 220px;
    height: 88px;
    left: -457px;
    top: -170px;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;

    color: #000000;
}

.linktree .informacao3{
    position: absolute;
    width: 220px;
    height: 88px;
    left: -38px;
    top: -200px;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
}

.linktree .informacao4 p{
    position: absolute;
    width: 220px;
    height: 88px;
    left: -38px;
    top: -170px;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;

    color: #000000;
}

.linktree .informacao5 {
    position: absolute;
    width: 220px;
    height: 88px;
    left: 380px;
    top: -200px;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
}

.linktree .informacao6 p{
    position: absolute;
    width: 220px;
    height: 88px;
    left: 380px;
    top: -170px;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;

    color: #000000;
}

.curriculo p{
    position: absolute;
    width: 88px;
    height: 391px;
    left: 190px;
    top: 80px;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;
}

.curriculodados p{
    position: absolute;
    width: 328px;
    height: 391px;
    left: 450px;
    top: 80px;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 48px;

    color: #000000;
}

.grupo .grupoimg img{
    position: absolute;
    width: 659px;
    height: 608px;
    left: -590px;
    top: -40px;
}

.download .baixar img {
    position: absolute;
    width: 425px;
    height: 55px;
    left: 210px;
    top: 550px;
}

.end .final h3{
    position: absolute;
    width: 502px;
    height: 58px;
    left: -155px;
    top: 650px;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #AC7D88;
}

.texto .text p{
    position: absolute;
    width: 991px;
    height: 66px;
    left: -405px;
    top: 750px;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    text-align: center;

    color: #000000;
}

.botao .button img {
    position: absolute;
    width: 322px;
    height: 60px;
    left: -75px;
    top: 880px;
}

.icons .icon1 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: -25px;
    top: 980px;
    color: #000000;
}

.icons .icon2 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 40px;
    top: 980px;
    color: #000000;
}

.icons .icon3 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 105px;
    top: 980px;
    color: #000000;
}

.icons .icon4 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 155px;
    top: 980px;
    color: #000000;
}

.iconfoto .iconimg{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 482px;
    top: -1010px;
}

.iconfoto .iconimg2{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 525px;
    top: -1010px;
}

.iconfoto .iconimg3{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 570px;
    top: -1012px;
}

.iconfoto .iconimg4{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 600px;
    top: -1010px;
}
/*.uniao .png img{
    position: absolute;
    left: -502px;
    height: 100px;
    padding: 0 1px;
    margin: 50px;
}
/*.about-me .serv{
    width: 50%;
    padding-right: 100px;
    width: 50%;
    text-align: center;
    position:  ;
}
/*tablet*/
@media(max-width:767px) {
    header .container{
        width: 100%;
    }

    header .container img{
        display: inline;
        height: 45x;
        margin-bottom: 75px;
    }

    nav img{
        display: none;
    }
}

/*quando a tela for abaixo de 480px*/
@media (max-width: 480px) {
    header .container {
        padding: 0 40px;
    }
}
    nav {
    width: :100%;
    bottom: 0;
    top: unset;
    padding: 0 15px; 

    }

    nav ul a {
        font-size: 12px;
    }

    nav ul a svg {
        display: block;
        margin: 0 35px;
    }
