@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&display=swap');

:root{
    --rosafundo: #FCD8D4;
    --rosaclaro: #FDF6F0; /*fundo*/
    --salmao: #F5C6AA;
    --escuro: #AC7D88;

}
*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    background: var(--rosaclaro);
}

body, button, input, select, textarea {
    font-family: 'Inria Sans', sans-serif;
}
{
    font-size: 44px;
}
{
    font-size: 24px;
}
/*margem e gordura da fonte*/

/*margem e gordura da fonte*/
/*h1,h2 {
    font-size: 44px;
    margin: 0;
    font-weight: 400;
}*/
h2 {
    font-size: 44px;
    margin: 0;
    font-weight: 400;
}

h1 {
    font-size: 44px;
    margin: 0;
    font-weight: 400;
    color: var(--escuro);
}
p{ 
    font-size: 20px;

}
button{
    background-color: var(--salmao);
    border: 0;
    border-radius: 16px;
    /*aumenta botao e deixa txto centro*/
    padding: 10px 35px;
    top:;
    font-size: 25px;
    display: flex;    
    align-items: center;


}

header{
    background: ;
    height: calc(76vh - 65px);
    display: flex;
    align-items: ;
}

header .container{
    width: 50%;
    /* fixa o tamanha pre determinado*/
    height: fit-content;
    padding:  100px;

}

header .container img{
    display: none;
}

header .container h1 {
    color:var(--bege)
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav ul a{
    font-size: 20px;
    /*color: var (--bege)*/
    text-decoration: none;
    /*separa as palavras */
    margin: 0 35px;
}
nav{
    display: flex;
    align-items: center;
    /*espaços entre */
    justify-content: space-between;
    height: 45px;
    padding: 0 95px;
    position: sticky;
    top: 0;
        
}

nav img{
    height: 50px;
}

.png img{
    position: absolute;
    left: 112px;
    height: 100px;
    padding: 0 1px;
    margin: 50px;

}

nav ul a svg {
    display: none;
}

/*section {
    background: #FDF6F0;
    height: 1000px;
}*/

.about-me{
    display: flex;
    padding: 100px;
}

.about-me .container{
    width: 50%;
    padding-right: 100px;
}

.about-me .img-container {
    width: 50%;
    text-align: center;
    position: relative;
}

.about-me .img-container img{
    width: 60%;
    height: 92%;
}

.about-me .img-container .line {
    width: calc(64% + 50px);
    height: calc(91% + 45px);
    border: 1px solid var(--escuro);
    position: absolute;
    top:  -25px;
    left: calc(52% - 70%/2 - 25px);
}

.about-me .img-container .line.salmao{
    transform: rotate(-3.3deg);
    color: var(--salmao);
}

.container .h2 {
    font-size: 44px;
    font-weight: 400;
    color: var(--escuro);

}

.dois{
    text-align: left;
    left: -280px;
    position: absolute;
}

.dois .serv {
    left: 100px;
    position: absolute;
}

.servicos {
    height: fit-content;
    margin: 150px;
}

.serv1 {
    box-sizing: border-box;
    position: absolute;
    width: 298px;
    height: 308px;
    left: 360px;
    top: 150px;
    background: #F5C6AA;
    border: 1px solid #F5C6AA;
    border-radius: 24px;
}

.serv2 {
    box-sizing: border-box;
    position: absolute;
    width: 298px;
    height: 308px;
    left: -60px;
    top: 150px;
    background: #F5C6AA;
    border: 1px solid #F5C6AA;
    border-radius: 24px;
}

.serv3 {
    box-sizing: border-box;
    position: absolute;
    width: 298px;
    height: 308px;
    left: -480px;
    top: 150px;
    background: #F5C6AA;
    border: 1px solid #F5C6AA;
    border-radius: 24px;
}

.botoes {
    height: fit-content;
    margin: 150px;
}

.botoes .iconmonitor{
    position: absolute;
    width: 60px;
    height: 308px;
    left:-350px;
    top: 190px;
}

.botoes .iconfile {
    position: absolute;
    width: 298px;
    height: 308px;
    left: 70px;
    top: 190px;
}

.botoes .iconglobe{
    position: absolute;
    width: 60px;
    height: 308px;
    left: 490px;
    top: 190px;

}

.serv .h1 {
    font-size: 44px;
    margin: 55px;
    font-weight: 400;
    color: var(--escuro);

}

.tituloserv {
    color: var(--escuro);
    position: absolute;
    font-size: 80px;
    top: 205px;
    left: -370px;
    margin: 0px;
}

.tituloserv .aplicacao{
    position: absolute;
    width: 220px;
    height: 60px;
    left: 350px;
    top: 1px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 22px;
    text-align: center;
    color: #AC7D88;
}

.tituloserv .site{
    color: var(--escuro);
    position: absolute;
    font-size: 80px;
    top: 1px;
    left: 805px;
    margin: 0px;
    font-weight: 300px;
}

.infos {
    color: #000000;
    position: absolute;
    width: 234px;
    height: 36px;
    left: -80px;
    top: px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

}

.infos .info2 {
    position: absolute;
    width: 232px;
    height: 54px;
    left: 430px;
    top: -5px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #000000;
}

.infos .info3 {
    position: absolute;
    width: 278px;
    height: 42px;
    left: 825px;
    top: 5px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #000000;
}

.tres {
    position: absolute;
    width: 133px;
    height: 42px;
    left: 455px;
    top: 250px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #AC7D88;
}

.portfolio {
    position: absolute;
    width: 298px;
    height: 308px;
    left: -480px;
    top: 100px;
    background: linear-gradient(90deg, rgba(255, 234, 216, 0.69) 0%, #F8E2CF 32.43%);
    box-shadow: inset 0px 0px 30px rgba(54, 53, 54, 0.1);
    border-radius: 19px;
}

.portfolio .port2 {
    position: absolute;
    width: 298px;
    height: 308px;
    left: 420px;
    top: 0px;
    background: linear-gradient(90deg, rgba(255, 234, 216, 0.69) 0%, #F8E2CF 32.43%);
    box-shadow: inset 0px 0px 30px rgba(54, 53, 54, 0.1);
    border-radius: 19px;
}

.portfolio .port3 {
    position: absolute;
    width: 298px;
    height: 308px;
    left: 841px;
    top: 0px;
    background: linear-gradient(90deg, rgba(255, 234, 216, 0.69) 0%, #F8E2CF 32.43%);
    box-shadow: inset 0px 0px 30px rgba(54, 53, 54, 0.1);
    border-radius: 19px;
}

.quatro {
    position: absolute;
    width: 136px;
    height: 42px;
    left: px;
    top: 490px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #AC7D88;
}


/*.about-me .serv{
    width: 50%;
    padding-right: 100px;
    width: 50%;
    text-align: center;
    position:  ;
}

/*tablet*/
@media(max-width:767px) {
    header .container{
        width: 100%;
    }

    header .container img{
        display: inline;
        height: 45x;
        margin-bottom: 75px;
    }

    nav img{
        display: none;
    }
}

/*quando a tela for abaixo de 480px*/
@media (max-width: 480px) {
    header .container {
        padding: 0 40px;
    }
}
    nav {
    width: :100%;
    bottom: 0;
    top: unset;
    padding: 0 15px; 

    }

    nav ul a {
        font-size: 12px;
    }

    nav ul a svg {
        display: block;
        margin: 0 35px;
    }
